<div class="auth-page-wrapper pt-5">
    <div class="auth-one-bg-position auth-one-bg"  id="auth-particles">
        <div class="bg-overlay"></div>
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>
  
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a routerLink="/" class="d-inline-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" height="60">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-medium">Manutenção conectada. Frota em movimento.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-body p-4"> 
                            <div class="text-center mt-2">
                                <h5 class="text-primary">{{ title }}</h5>
                                <p *ngIf="!sucesso && !mensagemErro" class="text-muted">Sua nova senha deve ser diferente da antiga.</p>
                                <p *ngIf="mensagemErro" class="text-muted alert alert-danger">{{ mensagemErro }}</p>
                                <lord-icon *ngIf="sucesso"
                                    src="https://cdn.lordicon.com/oqdmuxru.json"
                                    trigger="loop"
                                    colors="primary:#0ab39c"
                                    class="avatar-xl">
                                </lord-icon>
                                <lord-icon *ngIf="mensagemErro"
                                    src="https://cdn.lordicon.com/vihyezfv.json"
                                    trigger="loop"
                                    colors="primary:#fa896b"
                                    class="avatar-xl">
                              </lord-icon>
                            </div>
                            <div class="p-2" *ngIf="!sucesso">
                                <form [formGroup]="passresetForm" (ngSubmit)="onSubmit()">
                                    <div class="mb-3">
                                        <label class="form-label" for="password-input">Senha</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            <input [type]="passwordField ? 'text' : 'password'" class="form-control pe-5 password-input" placeholder="Informe a senha" id="password-input" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button"
                                                id="password-addon"><i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField
                                            }" (click)="togglepasswordField()"></i></button>
                                        </div>
                                        <div id="passwordInput" class="form-text">Deve conter pelo menos 8 caracteres.</div>
                                    </div>
            
                                    <div class="mb-3">
                                        <label class="form-label" for="confirm-password-input">Confirmar Senha</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <input [type]="confirmField ? 'text' : 'password'" class="form-control pe-5 password-input" placeholder="Confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="confirm-password-input" required formControlName="cpassword"
                                            [ngClass]="{ 'is-invalid': submitted && f['cpassword'].errors }">
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="confirm-password-input"><i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField
                                            }" (click)="toggleconfirmField()"></i></button>
                                        </div>
                                    </div>

                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">A senha deve conter:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Mínimo de <b>8 caracteres</b></p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">Pelo menos um letra <b>minúscula</b> (a-z)</p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">Pelo menos uma letra <b>maiúscula</b> (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-2">Pelo menos um <b>número</b> (0-9)</p>
                                        <p id="pass-combine" class="invalid fs-12 mb-0">Senha e confirmação <b>combinam</b></p>
                                    </div>
                                    
                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Criar Senha</button>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="sucesso" class="mt-2 text-center">
                                <p class="mb-0"> <a routerLink="/auth/login" class="fw-semibold text-primary text-decoration-underline">Ir para tela de Login </a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; {{year}} Carfy Marketing Network LTDA - Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </div>
  